.etiquetaLabel{
    color: black;
}


.botonCapri {
    color: white;
    background-color: rgb(185, 144, 224);
    border-color: rgb(185, 144, 224);
    margin-bottom: 10px;

    &:hover {
        background-color: rgb(207, 184, 227);
        border-color: rgb(207, 184, 227);
    }
}


.contenedorRegistro {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -0%);
    color: white;
    font-size: 1.5rem;

    text-align: center;
    z-index: 10z;
}

.botonRegistrarme {
    color: #6c757d;
    border-color: #6c757d6e;

    &:hover {
        color: rgb(185, 144, 224);
    }
}