.mainError {
    .seccionError {
        background-color: #e7e7e7;
        border-radius: 500px;
        box-shadow: 10px 10px 10px #b6b6b678;
        margin: 50px;
        padding: 20px;

        .h1 {
            margin-top: 30px;
            text-align: center;
            font-size: 3rem;
            color: #000000;
        }

        .h2 {
            text-align: center;
            font-size: 2rem;
        }

        .parrafo {
            color: rgb(185, 144, 224);
            text-align: center;
            font-size: 1.2rem;
        }

        .imgError {
            width: 80%;
            max-width: 500px;
            height: auto;
            margin-top: 20px;
            margin-bottom: 50px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            border-radius: 20px;
            box-shadow: 10px 10px 10px #b6b6b678;

            &:hover {
                box-shadow: 3px 3px 10px rgb(185, 144, 224)
            }
        }
    }
}