body{
    background-color:  rgba(69, 69, 69, 0.218);
}   

.botonVolverAdmin {
    color: #000000;
    border-color: #46494b;
    margin-left: 110px;
    border-radius: 50px;

    &:hover {
        color:#6c757d;
        border-color: #6c757d;
    }
}