body {
    background-color: rgba(185, 144, 224, 0.204);
}

.botonCapri {
    color: white;
    background-color: rgb(185, 144, 224);
    border-color: rgb(185, 144, 224);
    margin-bottom: 10px;

    &:hover {
        background-color: rgb(207, 184, 227);
        border-color: rgb(207, 184, 227);
    }
}



.botonRegistrarme {
    color: rgb(5, 5, 5);
    background-color: rgb(104, 200, 48);
    border-color: rgb(104, 200, 48);
    border-radius: 50px;

    &:hover {
        background-color: rgb(115, 177, 78);
        border-color: rgb(115, 177, 78);
    }
}

.botonVolverAlLogIn {
    color: #000000;
    border-color: #46494b;
    border-radius: 50px;

    &:hover {
        color: #6c757d;
        border-color: #6c757d;
    }
}