
.divPaginado {

    .page-link {
        color: rgb(185, 144, 224);

        &:hover {
            color: rgb(207, 184, 227);
        }
    }
    
}
.page-item.active .page-link {
    background-color: rgb(191, 191, 191) !important;  /* fondo del botón activo */
    border-color: rgb(191, 191, 191)  !important;       /* borde del botón activo */
    color: #fff !important;              /* color del texto */
}