*{
    margin: 0;
    padding: 0;
}

.videoError {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height:100vh;
    opacity: 0.4;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
}

.titulo-error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    z-index: 10; /* encima */
}