.barraDeNavegacion {
    background-color: #e7e7e7;

    .imgLogo {
        width: 150px;
    }

    .nav-link {
        color: black;

        &:hover {
            color: rgb(185, 144, 224);
        }
    }

    .botonLogout {
        color: #6c757d;
        border-color: #6c757d6e;

        &:hover {
            color: rgb(185, 144, 224);
        }
    }
}