* {
    margin: 0;
    padding: 0;
}

.videoError {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    opacity: 0.4;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
}

.titulo-error {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    z-index: 10;
    /* encima */
}

.botonVolver {
    color: white;
    background-color: rgb(185, 144, 224);
    border-color: rgb(185, 144, 224);

    &:hover {
        background-color: rgb(207, 184, 227);
        border-color: rgb(207, 184, 227);
    }
}




.contenedor-contacto{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -0%);
    color: white;
    font-size: 1.5rem;
   
    text-align: center;
    z-index: 10z;
}